@import 'tailwindcss';
@import 'tw-animate-css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --navy-100: #e6e8ef;
  --navy-200: #c1c5d8;
  --navy-300: #8f99be;
  --navy-400: #3c4c8f;
  --navy-500: #131c46;

  --ocean-100: #e6eef3;
  --ocean-200: #b3c7d6;
  --ocean-300: #1d405c;
  --ocean-400: #063254;
  --ocean-500: #082338;
}
